﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="NPKLastArticle.ascx.vb" Inherits="ntb.NPKLastArticle" %>
<div class="leftmenuitem">  
<table class="menuimage" align="center" border="0" cellpadding="0" cellspacing="0">
                		<tbody><tr valign="top">
                			<td class="aimage">
                    	        <div style="text-align: center">
                                <asp:Image ID="bilde" runat="server" border="0" AlternateText="Artikkelbilde"/>
                                <!--img src="/var/storage/images/foto/liv_kari_eskeland/782008-1-nno-NO/liv_kari_eskeland_menuimage.jpg" width="125" height="83" border="0" alt="igh_sy81e368.jpg" /-->
                                </div>
                            </td>
                		</tr>

            	</tbody></table>
                    		<div><asp:HyperLink ID="link" runat="server"></asp:HyperLink></div>
		<div class="ltid"><asp:Label ID="dato" runat="server"/></div>
</div>

