<%@ Page Language="vb" AutoEventWireup="false" Codebehind="orderformfailed.aspx.vb" Inherits="ntb.orderformfailed"%>
<%@ Register TagPrefix="custom" TagName="leftmenu" src="leftmenu.ascx"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>orderformfailed</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link href="css/styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<table class="artikkel_tekst">
			<tr>
				<td valign="top">
					Noe gikk galt i forbindelse med sending av eposten!<br>
					<br>
					Ta kontakt med <a href="mailto:marked@ntb.no">markedsavdelingen</a> for hjelp.
				</td>
			</tr>
		</table>
	</body>
</HTML>
