<%@ Register TagPrefix="custom" TagName="leftmenu" src="leftmenu.ascx"%>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="orderformok.aspx.vb" Inherits="ntb.orderformok"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>orderformok</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<link href="css/styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<table class="artikkel_tekst">
			<tr>
				<td valign="top">
					Vi takker for din henvendelse og vil komme med en rask tilbakemelding.<br>
					<br>
					Tilbake til <a href="/" target="_top">forsiden.</a>
				</td>
			</tr>
		</table>
	</body>
</HTML>
