<%@ Page Language="vb" AutoEventWireup="false" Codebehind="sectionwart.aspx.vb" Inherits="ntb.sectionwart" codePage="1252"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
<title>sectionwart</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<frameset cols="456,188,*">
		<frame name="mainart" noresize scrolling="AUTO" src="section.aspx?section=<%Response.Write(Request.QueryString("section"))%>" marginwidth="0" marginheight="0" frameborder="NO">
		<frame name="articles" noresize src="articles.aspx?section=<%Response.Write(Request.QueryString("section"))%>&Maingroup=<%Response.Write(Request.QueryString("maingroup"))%>&Subgroup=<%Response.Write(Request.QueryString("subgroup"))%>" marginwidth="0" marginheight="0" scrolling="AUTO" frameborder="NO">
	</frameset>
	
</HTML>
