<%@ Control Language="vb" AutoEventWireup="false" Codebehind="ticker.ascx.vb" Inherits="ntb.ticker" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<OBJECT codebase="./" code="aTicker.class" width=341 height=80 VIEWASTEXT>
	<param name=file value="ScrollText">
	<param name=cSep value=";">
	<param name="speed" value="1">
	<param name="delay" value="30">
	<param name="local" value="true">
	<param name="bgcolor" value="15724527">
	<param name="Font1" value="Arial, 12, 0, 0">
	<param name="Font2" value="Arial, 12, 0, 0">
	<param name="ScrollText0" value="Siste nytt:">
	<% Response.Write(items) %>
</OBJECT>