<%@ Page EnableSessionState="true" Language="vb" AutoEventWireup="false" Codebehind="frameset-news.aspx.vb" Inherits="ntb.frameset_news"%>
<html>
<head>
	<title>Velkommen til NTB</title>
</head>

	<frameset rows="110,*">
		<frame name="search" src="filter.aspx" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize>

		<frameset cols="*,190">
			<frame name="mainart" src="../section.aspx?Section=INTROIDAG&ForceLogin=1" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize>
			<frame name="articlelist" src="../articles.aspx?Section=IDAG" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize>
		</frameset>

	</frameset>

</html> 
