.p {
	padding-bottom: 10px;
	padding-top: 2px;
}

.h1, .h2, .h3, .h4, .h5 {
	font-weight: bold;
}

.h1 {
	font-size: 110%;
}

.h2 {
	font-size: 100%;
	margin-bottom: -2px;
}

.h3 {
	font-size: 120%;
}

.h4 {
	font-size: 110%;
}


.pagetitle {
	color: #999966;
	font: 110% Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-left: 15px;
}

a {
	color: #384F52;
}

.path {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-transform: lowercase;
}

.menutitle {
	font-weight: bold;
}

td.selectbar {
	font : 65% Verdana, Arial, Helvetica, sans-serif;
}

div.leftmenuitem {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #D8D8BC;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

td.leftmenuitem {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #D8D8BC;
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 5px;
}

td.leftmenuitemactive {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: #CDCDB2;
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 5px;
}

td.leftsubmenuitem {
	background: #D8D8BC;
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left: 8px;
	padding-right: 0px;
	padding-bottom: 6px;
}

td.leftsubmenuitemactive {
	background: #CDCDB2;
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left: 8px;
	padding-right: 0px;
	padding-bottom: 6px;
}

.rightmenuitem {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #E1E1CA;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.rightformfield {
	width: 120px;
	font: 100% Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* Article styles */
.articleintro {
	font: bold 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
}

.articlebyline {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	color: #738283;
	padding-bottom: 7px;
}

.articletext {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
}

/* Form styles */

form {
	margin: 0px;
}

label, .formtitle {
	font: bold 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
}

.labelbreak {
}

.quartbox {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 160px;
}

.halfbox {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 185px;
}

.fullbox {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 380px;
}

.button, .defaultbutton {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* List styles */

.listitem {
	background: #FAFAF5;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.listimage {
	padding-top: 20px;
	float: right;
}

.listbigtitle {
	font: bold 85% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	padding-bottom: 10px;
	padding-top: 8px;
}

.listtitle {
	font: bold 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
}

.listtext {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
}

.listinfo {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	color: #738283;
	padding-top: 5px;
}

table.infobox {
	margin-left: 10px;
	margin-right: -10px;
	margin-bottom: 5px;
	width: 150px;
	float: right;
	border: none;
} 

td.infobox {
	background: #EFEFE0;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

span.dataname {
	font-weight: bold;
}

.spacer {
	font-size: 1px;
	height: 10px;
	clear: both;
}

/* Image styles */

.imageitem {
	float: left;
	width: 128px;
}

.image {
	text-align: left;
/*
	width: 120px;
	height: 90px;
*/
}

td.image {
	padding-top: 5px;
}

.imagecaption {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	color: #738283;
}