a {
	color: #384F52;
}

.path {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table.menuimage {
	margin-top: 3px;
	margin-bottom: 5px;
}

table.imagetable {
	margin-top: 3px;
	margin-bottom: 5px;
	float: left;
}

.infoboximage {
	margin-top: 3px;
}

.menutitle {
	font-weight: bold;
}


.menyvignett {

}

.leftmenuitem {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.rightmenuitem {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #E1E1CA;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.rightformfield {
	width: 120px;
	font: 100% Verdana, Geneva, Arial, Helvetica, sans-serif;
}

form {
	margin-bottom: 0px;
}

.tilv_listimage {
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.listitem {
	background: #FAFAF5;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.listtext {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	margin-right: 20px;
}

.listtitle {
	font: bold 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
       vertical-align: top;
}

td.image {
	margin-top: -1.25em;
	margin-left: 2px;
}

.listinfo {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	color: #738283;
	padding-top: 5px;
}

.listpublishdate {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
	margin-top: 5px;
	margin-bottom: 3px;
	color: #738283;
}


.listsearchitem {
	background: #FAFAF5;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	margin-right: 5px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #E1E1CA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FAFAD2;
}

.listsearchtitle {
	font: bold 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 140%;
       vertical-align: top;
}

.listsearchimage {
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	float: right;
	border-style: solid;
	border-width: 0px;
}

.listsearchcaption {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 120%;
	width: 200px;
}

.listsearchphotobyline {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 120%;
	margin-right: 20px;
}


.listsearchtext {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 120%;
	margin-right: 20px;
}

.imagetext {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 135%;
	color: #738283;
	padding-top: 5px;
	margin-right: 5px;
}

.imagetextbyline {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 135%;
	color: #738283;
	margin-top: -5px;
	margin-right: 10px;
	float: right;
	text-align: right;
	width: 140px;
}

.spacer {
	font-size: 1px;
	height: 10px;
}

.vignetspacer {
	height: 20px
}

.image {
	text-align: right;
}

span.tid {
	font-size: 85%;
	color: #738283;
}

div.listtitle span.relaterttid {
	font-size: 85%;
	color: #738283;
	float: right;
	margin-right: 5px;
	margin-top: -2px;
	font-weight: normal;
}

div.ltid {
	font-size: 85%;
	color: #738283;
	text-align: right

}

div.img-npk-direkte {
   float: right;
   margin-left: 12px;
   margin-bottom: 12px;
   padding: 8px;
   background-color: #CCCCAA;
}

div.img-caption-byline {
   border-width: 1px;
   border-color: #000000;
   font-size: 8pt;
   text-align: right;
}

div.img-caption {
   margin-top: 8px;
   font-size: 10pt;
   font-style: italic;
}

div.tilvtid {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #738283;
	padding-top: 3px;
	text-align: left
}

div.spacertop {
	height: 14px
}

div.spacerdato {
	height: 4px
}

div.dato {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 65%;
	color: #384F52;
	margin-top: 12px;
	padding-bottom: 6px;
	margin-bottom: 8px;
	border-bottom: solid thin #D8D8BC;
	width: 350px
}

div.nyhende {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 65%;
	margin-bottom: 8px
}

span.tid {
	font-size: 85%;
	color: #738283

}

div.ltid {
	font-size: 85%;
	color: #738283;
	text-align: right

}

div.rightmenu {
	font: 65% Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #EFEFE0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center
}

a.nyhende:link {
	font-weight: bold;
	text-decoration: none
}

a.nyhende:hover {
	font-weight: bold;
	text-decoration: underline
}

a.nyhende:active {
	font-weight: bold;
	text-decoration: none
}

a.nyhende:visited {
	font-weight: normal;
	color: #738283;
	text-decoration: none
}

.aimage {
	text-align: center;
	width: 120px;
	height: 90px
}

td.aimage {
	padding-top: 5px
}


